= form_tag rodauth.login_path, method: :post do
  .mb-3
    -if rodauth.skip_login_field_on_login?
      = render "login_display"
    -else
      = render "login_field"
    = render "password_field" unless rodauth.skip_password_field_on_login?
    = render "submit", value: "Login"
