.mt-5.md:mt-0.md:col-span-2
  = form_tag rodauth.change_password_path, method: :post do
    - if rodauth.change_password_requires_password?
      = render "password_field"
    = render "new_password_field"
    - if rodauth.require_password_confirmation?
      = render "password_confirm_field"
    = render "submit", value: "Change Password"
