.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  = form_tag rodauth.create_account_path, method: :post do
    = render "login_field"
    - if rodauth.require_login_confirmation?
      = render "login_confirm_field"
    - if rodauth.create_account_set_password?
      = render "password_field"
    - if rodauth.create_account_set_password? && rodauth.require_password_confirmation?
      = render "password_confirm_field"
    = render "submit", value: "Create Account"
