.mt-8.sm:mx-auto.sm:w-full.sm:max-w-md
  .bg-white.p-4.pb-8.px-4.shadow.sm:rounded-lg.sm:px-10
    = form_tag rodauth.reset_password_request_path, method: :post do
      %p.mb-5= t("rodauth.reset_password_request.intro")
      - if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param)
        = render "login_hidden_field"
      - else
        = render "login_field"
      = render "submit", value: t("rodauth.reset_password_request.submit")
