= form_tag rodauth.verify_account_resend_path, method: :post do
  %p.mb-5= t("rodauth.verify_account_resend.intro")
  - if params[rodauth.login_param]
    = render "login_hidden_field"
  - else
    = render "login_field"
  = render "submit", value: t("rodauth.verify_account_resend.submit")
